body {
  font-family: "Nunito Sans";
  background-color: rgb(255, 253, 253);
  background-image: url(lado1arriba.png) ,url(lado2arriba.png),url(plant2abajo.png),url(plant1abajo.png);
  background-position: left top,right top,right bottom,left bottom;
  background-repeat: no-repeat, no-repeat,no-repeat,no-repeat;
  background-size: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
}



img{
  display: block;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 0px;
  position: relative;
  box-shadow: 0 1px 100px #bfa38e;
}


#title {
  color: rgb(0, 0, 0);
}

.center,p,a{
  margin-top: 90px;
  text-align: center;
  font-size: 18px;
  color: rgb(122, 115, 115);
  text-shadow: 0.07em 0.07em 0.05em rgb(83, 129, 87);
}



.side{
  margin: 0;
  padding: 0;
}

br{
  width: 20px;
}


h3{
  background-image: url(rayas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.audio{
  background-color:rgb(241, 243, 244);
  box-shadow: 0 1px 100px #c89a9d;

}


h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(124, 155, 139);
}
h1{
  background-image: url(tape2.png);
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-size: 290px;
  
}

.font {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}