body {
  font-family: "Nunito Sans";
  background-color: rgb(255, 253, 253);
  background-image: url(pabajoD.png) ,url(arribaderecha.png),url(pabajo-left.png),url(plant3.png);
  background-position: left top,right top,right bottom,left bottom;
  background-repeat: no-repeat, no-repeat,no-repeat,no-repeat;
  background-size: 500px;
  margin-bottom: 20px;
  margin-top: 20px;
}



img{
  display: block;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 0px;
  position: relative;
  box-shadow: 0 1px 100px #bfa38e;
}



p,a{
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
  color: rgb(122, 115, 115);
  text-shadow: 0.02em 0.01em 0.05em rgb(83, 129, 87);
}



.center{
  margin-top: 80px;
}


br{
  width: 20px;
}


h3{
  background-image: url(rayas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: rgb(92, 92, 92);
}

.audio{
  background-color:rgb(241, 243, 244);
  box-shadow: 0 1px 100px #c89a9d;

}

ul > li{
  text-align: center;
  margin-bottom: 10px;
  font-size: 13px;

}


h2{
  background-image: url(tape2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(90, 90, 90);

}
h1{
  background-image: url(tape2.png);
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-size: 290px;
  
}

.font {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-size: 23px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}