body {
  font-family: "Nunito Sans";
  background-color: rgb(158, 155, 148);
  background-image: url(paper3.jpg);
  
}

#title {
  color: rgb(0, 0, 0);
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul > li{
  color: rgb(17, 17, 17);
  
}


br{
  width: 50px;
}


h3,h1,h2{
  display: flex;
  justify-content: center;
  align-items: center;
}